@import "../omarchy/current/theme/waybar.css";

* {
    background-color: @background;
    color: @foreground;

    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: "CaskaydiaMono Nerd Font";
    font-size: 12px;
}

.modules-left {
    margin-left: 8px;
}
/*.modules-center {
    margin-left: -6px;
}*/

.modules-right {
    margin-right: 8px;
}

#window {
    color: #ffffff;
}
#window .icon {
    color: #ffffff;
}
#workspaces button {
    all: initial;
    padding: 0 6px;
    margin: 0 1.5px;
    min-width: 9px;
}

#workspaces button.empty {
    opacity: 0.5;
}
#workspaces button.active {
    opacity: 1;
}
#workspaces button.occupied:not(.active) {
    opacity: 0.6;
}
#hyprland-window .icon {
    color: #f5a623;
}

#hyprland-window .label {
    color: #ffffff;
}

#custom-omarchy,
#custom-screenrecording-indicator,
#custom-update {
    min-width: 12px;
    margin: 0 7.5px;
}

#custom-refresh-rate {
    margin-right: 4px;
}

#temperature.critical {
    color: #ff5555;
    font-weight: bold;
}
#tray {
    margin-right: 16px;
}

#bluetooth {
    margin-right: 20px;
}
#pulseaudio {
    margin-right: 20px;
}

#network {
    margin-right: 22px;
}
#memory {
    margin-right: 12px;
}
#cpu {
    margin-right: 18px;
}
#temperature {
    margin-right: 12px;
}

#battery {
    margin-right: 10px;
}
#power-profiles-daemon {
    font-size: 13;
    margin-right: 5px;
}
#custom-expand-icon {
    margin-right: 18px;
}

tooltip {
    padding: 2px;
}

#custom-update {
    font-size: 10px;
}

#clock {
    margin-left: 8.75px;
}

.hidden {
    opacity: 0;
}

#custom-screenrecording-indicator {
    min-width: 12px;
    margin-left: 8.75px;
    font-size: 10px;
}

#custom-screenrecording-indicator.active {
    color: #a55555;
}
