* {
    font-family: CaskaydiaMono Nerd Font;
    font-size: 24px;
    transition-property: background-color;
    transition-duration: 0.3s;
}

window {
    background-color: transparent;
    /* border-radius: 10px; */
}

button {
    background-color: transparent;
    border-style: solid;
    /* border-width: 2px; */
    border-color: #404040;
    border-radius: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15%;
    margin: 15px;
}

button:active,
button:hover {
    background-color: #d9d9d9;
}

button:focus {
    background-color: #d9d9d9;
}

#lock {
    background-image: image(
        url("../assets/wlogout/assets/lock.png"),
        url("/usr/local/share/wlogout/icons/lock.png")
    );
}

#lock:hover {
    background-image: image(
        url("../assets/wlogout/assets/lock-hover.png"),
        url("/usr/local/share/wlogout/icons/lock.png")
    );
    color: transparent;
}

#screensaver {
    background-image: image(
        url("../assets/wlogout/assets/logout.png"),
        url("/usr/local/share/wlogout/icons/logout.png")
    );
}

#screensaver:hover {
    background-image: image(
        url("../assets/wlogout/assets/logout-hover.png"),
        url("/usr/local/share/wlogout/icons/logout.png")
    );
    color: transparent;
}

#suspend {
    background-image: image(
        url("../assets/wlogout/assets/sleep.png"),
        url("/usr/local/share/wlogout/icons/suspend.png")
    );
}

#suspend:hover {
    background-image: image(
        url("../assets/wlogout/assets/sleep-hover.png"),
        url("/usr/local/share/wlogout/icons/suspend.png")
    );
    color: transparent;
}

#shutdown {
    background-image: image(
        url("../assets/wlogout/assets/power.png"),
        url("/usr/local/share/wlogout/icons/shutdown.png")
    );
}

#shutdown:hover {
    background-image: image(
        url("../assets/wlogout/assets/power-hover.png"),
        url("/usr/local/share/wlogout/icons/shutdown.png")
    );
    color: transparent;
}

#reboot {
    background-image: image(
        url("../assets/wlogout/assets/restart.png"),
        url("/usr/local/share/wlogout/icons/reboot.png")
    );
}

#reboot:hover {
    background-image: image(
        url("../assets/wlogout/assets/restart-hover.png"),
        url("/usr/local/share/wlogout/icons/reboot.png")
    );
    color: transparent;
}

#exit {
    background-image: image(
        url("../assets/wlogout/assets/restart.png"),
        url("/usr/local/share/wlogout/icons/reboot.png")
    );
    background-color: transparent;
}

#exit:hover {
    background-image: image(
        url("../assets/wlogout/assets/restart-hover.png"),
        url("/usr/local/share/wlogout/icons/reboot.png")
    );
    color: transparent;
    background-color: #d9d9d9;
}
